

  .slider {
    padding-top: 20vh;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(#0e1e21, #1fc3dc);
  }
  
  .img-slider {
    width: 800px;
    height: 500px;
    background-image: url("../assets/img/slides/slide1.jpg");
    background-size: 100% 100%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    animation: changeImage 25s step-start infinite;
    border: 5px solid #ffffff;
    border-radius: 20px;
  }
  
  @keyframes changeImage {
    0% {
      background-image: url("../assets/img/slides/slide1.jpg");
    }
    10% {
      background-image: url("../assets/img/slides/slide2.jpg");
    }
    20% {
      background-image: url("../assets/img/slides/slide3.jpg");
    }
    30% {
      background-image: url("../assets/img/slides/slide4.jpg");
    }
    40% {
      background-image: url("../assets/img/slides/slide5.jpg");
    }
    50% {
      background-image: url("../assets/img/slides/slide6.jpg");
    }
    60% {
      background-image: url("../assets/img/slides/slide7.jpg");
    }
    70% {
      background-image: url("../assets/img/slides/slide8.jpg");
    }
    80% {
      background-image: url("../assets/img/slides/slide9.jpg");
    }
    90% {
      background-image: url("../assets/img/slides/slide10.jpg");
    }
    100% {
      background-image: url("../assets/img/slides/slide1.jpg");
    }
  }
  
  @media (max-width: 1500px) {
    .img-slider {
      width: 800px;
      height: 500px;
    }

    .slider {
      padding-top: 20vh;
      height: 100vh;
    }
  }
  
  @media (max-width: 1200px) {
    .img-slider {
      width: 600px;
      height: 450px;
    }

    .slider {
      padding-top: 20vh;
      height: 100vh;
    }
  }
  
  @media (max-width: 780px) {
    .img-slider {
      width: 500px;
      height: 400px;
    }

    .slider {
      padding-top: 15vh;
      height: 100vh;
    }
  }
  
  @media (max-width: 640px) {
    .img-slider {
      width: 420px;
      height: 300px;
    }

    .slider {
      padding-top: 10vh;
      height: 80vh;
    }
  }
  
  @media (max-width: 500px) {
    .img-slider {
      width: 300px;
      height: 200px;
    }

    .slider {
      padding-top: 12vh;
      height: 50vh;
    }
  }
  
  @media (max-width: 380px) {
    .img-slider {
      width: 280px;
      height: 170px;
    }

    .slider {
      padding-top: 15vh;
      height: 50vh;
    }
  }