.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.3rem 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(30px);
  z-index: -1;
}

.Logo {
  width: 13vw;
}

.navbar a{
  font-size: 1.15rem;
  color: #e7f4f4;
  text-decoration: none;
  font-weight: 500;
  margin-left: 2.5rem;
}



@media(max-width:860px){
  .navbar a{
    font-size: 1rem;
  }
}
#check {
  display: none;
}

.icons {
  position: absolute;
  right: 5%;
  font-size: 2.8rem;
  color: #ffffff;
  cursor: pointer;
  display: none;
}


@media (max-width: 992px) {
  .header {
      padding: 1.3rem 5%;
  }
}

@media (max-width: 780px) {
  .icons {
      display: inline-flex;
  }

  #check:checked~.icons #menu-icon {
      display: none;
  }

  #check:checked~.icons #close-icon {
      display: block;
  }

  .icons #close-icon {
      display: none;
  }

  .navbar {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 0;
      background: rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(50px);
      box-shadow: 0.5rem 1 rgba(0, 0, 0, 0.1);
      overflow: hidden;
      transition: .3s ease;
  }

  #check:checked~.navbar {
      height: 16rem;
  }

  .navbar a {
      display: block;
      font-size: 1rem;
      margin: 1.5rem 0;
      text-align: center;
      transform: translateY(-50px);
      transition: .3s ease;
  }

  #check:checked~.navbar a {
      transform: translateY(0);
  }

  .Logo {
    width: 20vh;
  }
}